@font-face {
	font-family: Metropolis;
	src: url('../assets/fonts/metropolis-regular-webfont.woff2') format('woff2'),
		url('../assets/fonts/metropolis-regular-webfont.woff') format('woff');
}

@import url("https://use.fontawesome.com/releases/v5.15.0/css/all.css");

:root {
	--button-bg: #fe2d9d;
	--button-bg-hover: #fe006f;
	--grey: #e8e8e8;
	--red-fg: #d63031
	--red-bg: #e87e7e;
	--blue: #4696e6;
	--pink-bg: rgba(253, 121, 168, 0.08);
	--blue-bg-: rgba(117, 186, 255, 0.08);
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: 'Metropolis', sans-serif;
}

#body {
	height: 1200px;
}


/*=== === === === === Header === === === === === */
.container {
	max-width: 1640px;
	width: 95%;
	margin: 0 auto;
}

.header {
	background: var(--grey);
	height: 100px;
}

.header-container {
	display: flex;
	height: 100px;
	justify-content: space-between;
	align-items: center;
}

.search-form {
	width: 25%;
}

input[type="search"] {
	background: none;
	border: none;
	box-shadow: 0 2px 0 0 black;
	border-radius: 24x;
	-webkit-border-radius: 24x;
	-moz-border-radius: 24x;
	-ms-border-radius: 24x;
	-o-border-radius: 24x;
}

input[type="search"]::placeholder {
	background: url(../assets/svg/search.svg) no-repeat;
	background-position: 20% 50%;
	text-align: center;
}

